.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height to 100% of the viewport height */
}

.loader {
  height: 180px;
  width: 180px;
  background-image: url(../../assets/images/brands/loader.gif);
  background-size: contain;
  background-repeat: no-repeat;  
}
