.profile-banner-container {
    width: 100%;
    background-image: url("../../../assets//images/brands/cartbanner.jpg");
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-content-container {
    background-color: #F6F5F1;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bottle-management-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media screen and (max-width: 767px) {
    .bottle-management-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}